{% extends 'students/base.html' %}

{% load static from staticfiles %}

{% block meta_title %}
    Групи
{% endblock meta_title %}

{% block title %}
    Групи
{% endblock title %}

{% block button %}
    <a href="{% url 'group_add' %}" class="btn btn-primary pull-right">Додати групу</a>
{% endblock button %}

{% block content %}
    <!-- Start Students Listing -->
    <table class="table">
        <thead>
        <tr>
            <th><a href="#">#</a></th>
            <th>Назва</th>
            <th><a href="#">Староста &uarr;</a></th>
            <th>Дії</th>
        </tr>
        </thead>
        <tbody>
        {% for group in groups %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><img class="img-circle" src="{% static student.image %}" height="30" width="30"/></td>
                <td><a href="{% url 'student_edit' 1 %}">{{ student.first_name }}</a></td>
                <td><a href="{% url 'student_edit' 1%}">{{ student.last_name }}</a></td>
                <td>{{ student.ticket }}</td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Дія
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{% url 'student_edit' student.id %}">Редагувати</a></li>
                            <li><a href="#">Відвідування</a></li>
                            <li><a href="{% url 'student_delete' student.id %}">Видалити</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <!-- End Students Listing -->

    <nav>
        <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </nav>
{% endblock content %}
