{% extends 'students/base.html' %}

{% load i18n %}
{% load static from staticfiles %}

{% block meta_title %}{% trans 'Delete group' %}{% endblock meta_title %}
{% block title %}{% trans 'Delete group' %}у{% endblock title %}

{% block content %}
    <form action='{% url 'group_delete' object.id %}' method='post'>
        {% csrf_token %}
        <p>
            {% blocktrans %} Do you really want to delete group '{{ object }}'?{%  endblocktrans %}
        </p>
        <input type='submit' value='{% trans 'Yes' %}' name='delete_button'
        class='btn btn-danger' />
        <a href='{% url 'groups_list' %}' class='btn btn-info'>{% trans 'No' %}</a>
        <br />
        <br />
</form>
{% endblock content %}